.jh-plant-item-cover {
	height: 220px;
	width: 220px;
	border-radius: 20px;
	cursor: pointer;
}

.jh-plant-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	cursor: pointer;
}

.jh-plant-item-cover:hover{
	transform:scale(1.05,1.05);
	box-shadow: 0.5rem 0.5rem .5rem grey;
}

.water-sun{
	cursor: pointer;
}